body{
    font-family: amiri;
    margin-bottom: 30px solid;
    
}

header{
    
}

#head{
    display: flex;
    
}
.header-nav{
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    margin: 15px solid;
    width: 50%;
    padding-top: 100px;
    padding-left: 50px;
    
    
    
}

.header-nav a{
    color: black;
    text-decoration: none;
    margin-left: 50px solid;
    padding-left: 50px
    
    
}


#header-im{
    padding: 40px;
    margin: 20px solid;

}

main{
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    text-align: center;
    margin:20px;
    width: 100%;
    
}
main span{
    text-transform: capitalize;
}

.middle{
    display: flex;
    
    font-size: 24px;
}
.middle-div{
    width: 50%;
    margin: 5px;
}

footer{
    background-image: url('w8ZJLtJbmuph.gif');
    background-repeat: no-repeat;
    /* background-size: 100% 100%; */
    text-align: right;
}