body{
    margin-bottom: 30px solid;  
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family: 'Kalam', cursive;
}
#head {
    display: flex;
}
.header-nav > ul{
    display: flex;
}
.header-nav > ul > li:hover > ul {
    display: block;
}

.dropdown{
    display: none; 
}

.header-nav{
    
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    margin: 15px;
    width: 50%;
    padding-top: 100px;
    padding-left: 50px;
      
}

.header-nav li{
    list-style: none;
}
.header-nav a{
    color: black;
    text-decoration: none;
    padding-left: 50px ;
}


.header-nav a:hover{
    color: red;
}


#header-im{
    padding: 40px;
    margin: 20px;

}
h3{
    font-family: 'Pacifico', cursive;
}
h3:hover{
    color: red;
}

main{
    
    font-size: 40px;
    text-align: center;
    margin:20px;
    width: 100%;
    
}
main span{
    text-transform: capitalize;
}

.middle{
    display: flex;
    font-size: 24px;
}
.middle-div{
    width: 50%;
    margin: 10px;
}

footer{
    background-image: url('w8ZJLtJbmuph.gif');
    background-repeat: no-repeat;
    text-align: right;
}

.middle-div img{
    width:580px;
    height: 420px;
}

.span-text:hover{
    color: red;
    text-decoration: underline;
}

footer span{
    font-family: 'Pacifico', cursive;
    color: aqua;
    
}